# Include requirements for {{cookiecutter.app_name}} here.
# This file lists project requirements that should be installed into a `lib`
# directory that gets uploaded to GAE.
#
# To install these dependencies in `lib/` subdirectory:
# `pip install -t lib -r requirements.txt`

flask
flask-bootstrap
